%table{tg_repeat: true, items: "[{a: 1, b: 2, c: 3},{a: 4, b: 5, c: 6},{a: 7, b: 8, c: 9}]"}
  %thead
    %tr
      %td A
      %td B
      %td C
  %tbody
    %tr
      %td {{item.a}}
      %td {{item.b}}
      %td {{item.c}}
